Signed In User Page
</br></br>

<div class="row">
	<div class="span12">
		<h1>These are your active gifts!</h1>
	</div>
</div>

</br></br>

<div class="row" >
	
	<div class="span4" >
		
		<p>Create a gift!!</p>
		
		<%= form_for(@gift) do |f| %>
		
		<%= f.label :name %>
		<%= f.text_field :name %>
		
		<%= f.label :item %>
		<%= f.text_field :item%>
		
		<%= f.label :message %>
		<%= f.text_field :message%>
		<p></br>
		<%= f.submit "Create my Gift!", class: "btn btn-success", method: :post %>
		</p>
		<% end %>
		
	</div>
	
	
	
	
	<div class="span8">
		<div class="row">
		<div class="span2">
			GiftOne
		</div>
		<div class="span2">
			GiftTwo
		</div>
		<div class="span2">
			GiftThree
		</div>
		<div class="span2">
			GiftFour
		</div>
		</div>
</div>




</br></br>


</div>

</br></br>



<div class="row">
	
	<div class="span6">
		These are your friends gifting!
	</div>
</div>